@import "tailwindcss";

body {
  font-family: 'Satoshi', sans-serif;
}

.event-grid{
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1rem;
}

@media (min-width: 640px) {
  .event-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 768px) {
  .event-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@theme {
  --container-center: true;
  --container-padding: 1.25rem;
  --color-primary: #00D991;
}

@layer base {
  :root {
    @apply bg-white text-black; /* default light mode */
  }
  .dark {
    @apply bg-[#171923] text-white; /* dark mode only */
  }
}